.landingpage {
    display: grid;
    gap: 1rem 2rem;
    padding-bottom: 3rem;
}

@media screen and (max-width: 960px) {
    .landingpage {
        display: block; 
    }
}
// landingpage är inte centrerad

.landingpage h1 {
    justify-self: center;
    grid-column: 1 / 4;
    grid-row: 1 ;
}

.box {
    border: 1px solid $accent-color;
    padding: 0.5rem;
    text-align: center;
}

.box:hover{
    background-color: $accent-color;

    a {
        color: #fff;
    }
}

.html {
    grid-column: 1 / 3;
    grid-row: 2 ;
}

.css {
    grid-column: 3 / 4;
    grid-row: 2 ;
}

.php {
    grid-column: 1 / 2;
    grid-row: 3 ;
}

.sqlite {
    grid-column: 2 / 3;
    grid-row: 3 ;
}

.javascript {
    grid-column: 3 / 4;
    grid-row: 3 ;
}

.python {
    grid-column: 1 / 3;
    grid-row: 4 ;
}

.git {
    grid-column: 3 / 4;
    grid-row: 4 ;
}

a {
    text-decoration: none;
    color: $font-color;
}

.single-technoloy {
    display: flex;
    flex-direction: row;
    justify-content: space-between; //ett element längt till höger & ett längst till vänster
    align-items: flex-start;
}/*
@media screen and (max-width: 960px) {
    .single-technoloy {
        display: grid;
    } 
}*/

.tech-menu {
    width: 20%;

    .tech-active {
        font-weight: bold;
    }
}
@media screen and (max-width: 960px) {
    .tech-menu {
        display: none;
    }
}

.tech-content {
    width: 75%;
}
@media screen and (max-width: 960px) {
    .tech-content {
        width: 100%; 
    }
}
// HTML sidan har en för lång mening, inte helt responsiv

.active {
    background-color: $accent-color;
    color: #fff;
}