/* Typografy */

body {
    font-family: sans-serif;
    line-height: 1.5rem;
    color: $font-color;
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
    font-family: $header-font;
}

p {
    margin-bottom: 1.3rem;
    font-family: $main-font;
}

html {
    font-size: 100%;
}

@media (min-width: 64em) {
    html {
        font-size: 112.5%;
    }
}

.old-fashioned {
    line-height: 1.4;
    font-size: 2rem;
    font-family: sans-serif;
    font-family: "Allura", cursive, cursive;
}

.modern {
    line-height: 1.4;
    font-size: 2rem;
    font-family: sans-serif;
    font-family: "Assistant", sans-serif;
}

.worst-ever {
    line-height: 1.4;
    font-size: 2rem;
    font-family: sans-serif;
    font-family: "Foldit", sans-serif;
    line-height: 0.7;
    letter-spacing: -3px;
}
