@import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather&display=swap');

//$background-color: #1f1f1f;
//$accent-color: #4824A6;
//$font-color: #6d6d6d;

$background-color: #1f1f1f;
$accent-color: #4824A6;
$font-color: #d3d3d3;

$header-font: 'Inter', sans-serif;
$main-font: 'Merriweather', serif;