@import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather&display=swap');

$background-color: #FD8B64;
$font-color: #333;

$header-font: 'Inter', sans-serif;
$main-font: 'Merriweather', serif;