.container {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 200px 200px;
    border: 1px solid purple;
}

.red-box {
    grid-column: 1 / 1;
    grid-row: 1 ;
}

.blue-box {
    grid-column: 2 / 2;
    grid-row: 1;
}

.green-box {
    grid-column: 3 / 3;
    grid-row: 2;
}

.black-box {
    grid-column: 2;
    grid-row: 2;
}

.white-box {
    grid-column: 3;
    grid-row: 2;
}

@media screen and (max-width: 960px) {
    .container {
        display: block;
    }
}
